.footer{
   width: 100%;
   padding: 40px 0;
   background-color: #000;
   display: flex;
   align-items: center;
}
.container{
   max-width: 1230px;
   width: 100%;
   margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 15px;
}
.list{
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.item{
   font-weight: 400;
   font-size: 16px;
   line-height: 16px;
   color: #fff;
}
.item:not(:last-child){
   margin-right: 25px;
}
.copyright{
   font-size: 14px;
   line-height: 14px;
   color: hsla(0,0%,100%,.5);
}